@import '~@fluentui/react/dist/sass/References.scss';

.pimientaNegraPedidos {
  overflow: hidden;
  padding: 24px;
  background: #f5f7fb;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
    padding: 10px 12px;
    background: transparent; // Teams provides its own page bg
  }
}